<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Payment</title>
</head>
<body>

<button id="paymentButton">Make Payment</button>

<script>
document.getElementById("paymentButton").addEventListener("click", function() {
  // Redirect to the payment URL
  window.location.href = 'https://mercury-t2.phonepe.com/transact/pg?token=MjNlNTgyNDFhODhiNmM3ZWZkN2FhM2E2ZTRjMjQ4OGY4YjcwMzE1YTkyYjA1YmE1YTVkMGY1NGU4MTRlYzllMzNkZDM5OWViZjlmMjU5NTYxY2U0MGFjMmVhMmYxMmMxNjcwNzViNWQ0YTJlNjdmNWIyODg4YmQxN2Y5MmRlYzk6ZWZkMTA1ZTQxYWFjY2M5NjU2MzliMzBmNmYzNmJkYjI';
});
</script>

</body>
</html>